[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
tensorflow = "==2.2"
pillow = "*"
tensorflow-hub = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
